extends layout

block content
    script(src='javascripts/tempSocket.js', type='text/javascript')
    style.
      body { font: 16px arial; }

    table(width='100%', style='padding-right: 80px;')
      tr(align='center')
        td(cellpadding='20px')
          p Sıcaklık Sensörü:
      tr(align='center')
        td(cellpadding='20px')
          span#cpuGaugeContainer
      tr(align='center')
        td(cellpadding='20px')
          p#temprature
      tr(align='center')
        td(cellpadding='20px')
          p#time
